:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --header-height: 74px;
  --border-radius: 4px;
  --min-width: 320px;
  --spacing: 0.5rem;

  --header-z-index: 1000;
  --dialog-z-index: 1001;

  --main-color-dark: #03045e;
  --main-color: #023e8a;
  --main-color-light: #0077b6;
  --main-color-light-2: #0096c7;

  --secondary-color: #c04a13;
  --secondary-color-light: #c77802;

  --dialog-border-color: rgba(255, 255, 255, 0.199);
}

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 319.5px) {
  body {
    overflow-x: auto;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.8;
}
