.page {
  min-height: 100svh;
  font-family: var(--font-geist-sans);

  --contact-now-button-color: #a66600;
  --tile-color: #ffffff1a;
  --link-hover-color: #31a2f3;
  --separator-line-color: rgba(255, 255, 255, 0.205);

  --max-content-width: 800px;
  --spacing: 0.5em;
  --border-radius: 4px;
}

.header {
  background-color: #000000eb;
  height: var(--header-height);
}

.header-content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  max-width: var(--max-content-width);
  min-width: var(--max-content-width);
  margin: auto;
  /* border-right: 1px solid rgba(255, 255, 255, 0.205);
  border-left: 1px solid rgba(255, 255, 255, 0.205); */
}

.header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title-container h3 {
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.6em;
}

.header-title-container h4 {
  font-weight: 400;
  font-size: 0.8em;
  opacity: 0.8;
}

.contact-now-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-now-button {
  backface-visibility: hidden;
  background-color: #a86801;
  border-radius: var(--border-radius);
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: var(--foreground);
  cursor: pointer;
  display: inline-block;
  letter-spacing: normal;
  outline: none;
  padding: var(--spacing) calc(var(--spacing) * 4);
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.contact-now-button:hover {
  background-color: #d88500;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.contact-now-button:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.contact-now-button:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) * 3);
  margin: 0 var(--spacing) 0 auto;
}

.navigation a {
  transition-duration: 0.3s;
  font-size: 1em;
}

.navigation a:hover {
  color: var(--link-hover-color);
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
}

.section-content {
  /* border-right: 1px solid rgba(255, 255, 255, 0.205);
  border-left: 1px solid rgba(255, 255, 255, 0.205); */

  max-width: var(--max-content-width);
  min-width: var(--max-content-width);
  margin: auto;
  padding-top: calc(var(--spacing) * 4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-separator-line {
  width: 80%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.205);
  margin: calc(var(--spacing) * 6) auto 0;
}

.hero-section {
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
}

.hero-section-content-wrapper {
  min-height: 17em;
  background-color: #000000d2; /* dark semi-transparent overlay */
  display: flex;
  flex-direction: column;
}

.hero-section .section-content {
  align-items: start;
  flex: 1;
  justify-content: flex-end;
}

.hero-section h1 {
  font-size: 3.5em;
  line-height: 1.5em;
}

.hero-section h3 {
  font-weight: 300;
  font-size: 2.1em;
  color: #ffb650;
}

.hero-section h4 {
  font-size: 1em;
  font-weight: 400;
  padding: calc(var(--spacing) * 2) 0;
  margin-top: calc(var(--spacing) * 2);
  border-top: 1px solid var(--separator-line-color);
  width: 100%;
}

.service-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  background-color: var(--tile-color);
  border-radius: calc(var(--border-radius) * 2);
  margin-top: calc(var(--spacing) * 4);
  padding: calc(var(--spacing) * 3);
}

.service-container h4 {
  font-size: 1.35em;
  font-weight: 600;
}

.service-container-summary {
  font-size: 0.8em;
  font-weight: 400;
}

.technologies-container {
  display: grid;
  grid-template-columns: repeat(6, calc((var(--max-content-width) - var(--spacing) * 5) / 6));
  grid-template-rows: repeat(4, 6em);
  gap: var(--spacing);
  margin-top: calc(var(--spacing) * 4);
}

.technologies-item {
  background-color: var(--tile-color);
  border-radius: var(--border-radius);
}

.technologies-big-item {
  grid-column: span 2;
  grid-row: span 2;
}

.footer {
  margin-top: calc(var(--spacing) * 8);
  padding: calc(var(--spacing) * 4);
  background-color: rgba(240, 248, 255, 0.089);
}
