.reveal-provider-wrapper {
  --translateValue: 1em;
}

@media (prefers-reduced-motion: reduce) {
  .reveal-provider-wrapper [data-reveal] {
    transition: none !important;
    transform: none !important;
    opacity: 1 !important;
  }
}

.reveal-provider-wrapper [data-reveal] {
  opacity: 0;
  transform: translateY(var(--translateValue));
  transition:
    opacity 350ms ease-out,
    transform 350ms ease-out;
  will-change: opacity, transform;
}

.reveal-provider-wrapper [data-reveal='in'] {
  opacity: 1;
  transform: translateY(0);
}
